html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
    line-height: 1.2;
    background-color: var(--color-secondary-light);
    color: var(--color-primary-dark);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --color-primary-light: #F9E6D0;
    --color-primary-dark: #00373E;
    --color-secondary-light: #F7F6F4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a{
    color: var(--color-text-white);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    top: 0;
    left: 0;
}

.title {
    font-weight: 700;
    font-size: 52px;
    line-height: 1.2;
}

header {
    width: 100%;
}

.header__container {
    padding-top: 75px;
    padding-bottom: 34px;
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    line-height: 1.2;
    font-size: 18px;
}

.header__menu-first{
    justify-self: start;
}

.header__menu-first,
.header__menu-second {
    display: flex;
    gap: 70px;
}

.logo img{
    justify-self: center;
}

.header__menu-second{
    justify-self: end;
}

/* hero-section */
.hero-section {
    padding-top: 30px;
}

.hero-section__container {
    position: relative;
    padding: 170px 0 160px ;
    background-color: var(--color-primary-light);
    border-radius: 70px;
}

.hero-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section__title {
    font-size: 70px;
    margin-bottom: 15px;
    text-align: center;
    max-width: 640px;
}

.hero-section__text {
    font-size: 24px;
    margin-bottom: 45px;
    max-width: 525px;
    text-align: center;
}

.button{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: var(--color-primary-dark);
    padding: 15px 39px;
    border-radius: 100px;
}

.hero-section__img-first,
.hero-section__img-second {
    position: absolute;
    bottom: 0;
}

.hero-section__img-first {
    left: 0px;
    border-radius: 0 0 0 70px;
}

.hero-section__img-second {
    right: 0px;
    border-radius: 0 70px 70px 0;
}

/* hwot-it-works-section */
.work-section {
    padding: 100px 0 150px
}

.work-section__container {
    display: flex;
    align-items: center;
    gap: 114px;
    justify-content: center;
}

.work-section__content {
    display: flex;
    flex-direction: column;
    max-width: 476px;
    gap: 37px;
}

.description {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.work-section__title,
.work-section__text  {
    margin-bottom: 0px;
}

.work-section__text {
    line-height: 1.6;
    font-size: 22px;
    max-width: 450px;
}

.work-section__btn {
    width: fit-content;
}

.work-section__box {
    border-radius: 70px;
    padding: 71px 67px 0;
    background-color: var(--color-primary-dark);
}

.box__img {
    transform: translateY(5px);
}

/* services-section */
.services-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-section__description,
.services-section__title {
    margin-bottom: 20px;
}

.services-section__title {
    text-align: center;
    max-width: 420px;
}

.services-section__text {
    font-size: 22px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 80px;
    max-width: 460px;
}

.services-section__content {
    display: flex;
    gap: 40px
}

.services-section__meditation,
.services-section__therapy {
    display: flex;
    flex-direction: column;
    padding: 75px 60px;
    border-radius: 60px;
}

.services-section__meditation {
    position: relative;
    background-color: var(--color-primary-light);
}

.services-section__therapy {
    background-color: #FFFFFF;
}

.services-section__img {
    position: absolute;
    right:0;
}


.services-section__subtitle {
    font-size: 40px;
    font-weight: 600;
    max-width: 360px;
}

.services-section__subtext {
    font-size: 20px;
    max-width: 295px;
}

.services-section__subtitle, 
.services-section__subtext{
    margin-bottom: 35px;
}

.services-section__btn {
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    padding: 15px 39px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 100px;
}



